/* Common Styles */
@media screen and (max-width: 600px) {
  /* Mobile-specific styles */
  header {
      padding: 0 !important;
  }
  /* ... Other mobile-specific styles ... */
}

@media screen and (max-width: 1432px) {
  /* Tablet-specific styles */
  .container {
      padding: 7rem 11rem;
  }
  /* ... Other tablet-specific styles ... */
}

@media screen and (max-width: 1250px) {
  /* Adjust styles for smaller tablets */
  .blogs {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 6rem;
  }
  .portfolios {
      grid-template-columns: repeat(2, 1fr);
  }
  .header-content .right-header {
      padding-right: 9rem;
  }
  /* ... Other styles for smaller tablets ... */
}

@media screen and (max-width: 660px) {
  /* Adjust styles for smaller screens */
  .blogs {
      grid-template-columns: repeat(1, 1fr);
  }
  .portfolios {
      grid-template-columns: repeat(1, 1fr);
  }
  /* ... Other styles for smaller screens ... */
}

@media screen and (max-width: 1070px) {
  /* Further adjustments for smaller screens */
  .about-container {
      grid-template-columns: repeat(1, 1fr);
      .right-about {
          padding-top: 2.5rem;
      }
  }
  .main-title h2 {
      font-size: 4rem;
      span {
          font-size: 4rem;
      }
      .bg-text {
          font-size: 4.5rem;
      }
  }
}

@media screen and (max-width: 970px) {
  /* Responsive styles for screens around 970px */
  .container {
      padding: 7rem 6rem;
  }
  .about-container .left-about {
      padding-right: 0rem;
  }
  .header-content {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
  }
  .left-header .h-shape {
      display: none;
  }
  .left-header .image {
      width: 90% !important;
      margin: 0 auto !important;
  }
  .right-header {
      grid-row: 1;
      padding-right: 0rem !important;
      width: 90%;
      margin: 0 auto;
      .name {
          font-size: 2.5rem !important;
          text-align: center;
          padding-top: 3rem;
      }
  }
}

@media screen and (max-width: 700px) {
  /* Responsive styles for screens around 700px */
  .container {
      padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
      grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
      grid-template-columns: repeat(1, 1fr);
  }
  .timeline {
      grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
      font-size: 3rem;
      span {
          font-size: 3rem;
      }
      .bg-text {
          font-size: 4rem;
      }
  }
}
